.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &LogoList {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
  }
}
