<header class="header">
    <div class="headerLogoList">
        <div class="headerLogo">
            <img src="../../assets/images/header/logo.png" alt="logo">
        </div>
        <ul>
            <li *ngFor="let list of headerList">{{list}}</li>
        </ul>
    </div>
    <div class="headerProfile">
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
            <span>Arpit</span>
            <img src="" alt="">
        </div>
    </div>
</header>