<section class="dashboard">
  <div class="container">
    <div class="dashboardTitle">
      <h1>Dashboard</h1>
      <p>
        Welcome back, Arpit. Keep making legal documentation easy. We are here
        for you!
      </p>
    </div>
    <div class="dashboardTabs">
      <div class="dashboardTabsStatus">
        <h3>Contract Status</h3>
        <span
          >Last Week
          <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
        /></span>
      </div>
      <div class="dashboardTabsDetails" *ngFor="let data of tabsData">
        <h4>{{ data.title }}<img [src]="data.titleLogo" alt="success" /></h4>
        <p>{{ data.tabsDetails }}</p>
        <span><img [src]="data.arrow" alt="arrow" />{{ data.num }}</span>
      </div>
    </div>
  </div>
</section>
