<section class="dashboard">
  <div class="container">
    <div class="dashboardTitle">
      <h1>Dashboard</h1>
      <p>
        Welcome back, Arpit. Keep making legal documentation easy. We are here
        for you!
      </p>
    </div>
    <div class="dashboardTabs">
      <div class="dashboardTabsStatus">
        <h3>Contract Status</h3>
        <span
          >Last Week
          <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
        /></span>
      </div>
      <div class="dashboardTabsDetails" *ngFor="let data of tabsData">
        <h4>{{ data.title }}<img [src]="data.titleLogo" alt="success" /></h4>
        <p>{{ data.tabsDetails }}</p>
        <span><img [src]="data.arrow" alt="arrow" />{{ data.num }}</span>
      </div>
    </div>

    <div class="dashboardGraphBar">
      <div class="dashboardGraph">
        <div class="graphTitle">
          <h3>Contracts Activity</h3>
          <span
            >Filter
            <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
          /></span>
          <span
            >This Year
            <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
          /></span>
        </div>
        <div class="chartContainer">
          <canvas
            baseChart
            width="710"
            height="300"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
          >
          </canvas>
        </div>
      </div>
      <div class="dashboardPendingContracts">
        <div class="title">
          <h3>Pending Contracts</h3>
          <span
            >September
            <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
          /></span>
          <span
            >Contract Type
            <img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
          /></span>
        </div>
        <div class="circlesData">
          <div class="circles">
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="72"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#78C000'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Draft</h3>
                <p>see all</p>
              </div>
            </div>
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="87"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#78C000'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Review</h3>
                <p>see all</p>
              </div>
            </div>
          </div>
          <div class="circles">
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="61"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#78C000'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Negotiation</h3>
                <p>see all</p>
              </div>
            </div>
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="39"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#78C000'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Signing</h3>
                <p>see all</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
