<section class="dashboard">
  <div class="container">
    <div class="dashboardTitle">
      <h1>Dashboard</h1>
      <p>
        Welcome back, Arpit. Keep making legal documentation easy. We are here
        for you!
      </p>
    </div>
    <!-- contract status section start -->
    <div class="dashboardTabs">
      <div class="dashboardTabsStatus">
        <h3>Contract Status</h3>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Last Week
            <span><img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
              /></span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Last Month</a>
            <a class="dropdown-item" href="#">Last Year</a>
          </div>
        </div>
      </div>
      <div class="dashboardTabsDetails" *ngFor="let data of tabsData">
        <h4>{{ data.title }}<img [src]="data.titleLogo" alt="success" /></h4>
        <p>{{ data.tabsDetails }}</p>
        <span><img [src]="data.arrow" alt="arrow" />{{ data.num }}</span>
      </div>
    </div>

    <!-- contract status section end -->

    <div class="dashboardGraphBar">

      <!-- Graph Start -->

      <div class="dashboardGraph">
        <div class="graphTitle">
          <h3>Contracts Activity</h3>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Filter
              <span><img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
                /></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">High to Low</a>
              <a class="dropdown-item" href="#">Low to High</a>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              This Year
              <span><img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
                /></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Last Year</a>
              <a class="dropdown-item" href="#">2021</a>
            </div>
          </div>
        </div>
        <div class="chartContainer">
          <canvas
            baseChart
            width="710"
            height="300"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
          >
          </canvas>
        </div>
      </div>
      <!-- Graph end -->

      <!-- Pending Contracts start -->
      <div class="dashboardPendingContracts">
        <div class="title">
          <h3>Pending Contracts</h3>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              September
              <span><img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
                /></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">August</a>
              <a class="dropdown-item" href="#">July</a>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Contract Type
              <span><img src="../../../assets/images/header/arrowDown.svg" alt="arrow"
                /></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Category</a>
              <a class="dropdown-item" href="#">Contract</a>
            </div>
          </div>
        </div>
        <div class="circlesData">
          <div class="circles">
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="72"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6b6d7'"
                  [animation]="true"
                  [animationDuration]="300"
                  [outerStrokeLinecap]="'butt'"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Draft</h3>
                <p>
                  see all
                  <img
                    src="../../../assets/images/dashboard/rightArrow.svg"
                    alt="arrow"
                  />
                </p>
              </div>
            </div>
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="87"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6b6d7'"
                  [animation]="true"
                  [animationDuration]="300"
                  [outerStrokeLinecap]="'butt'"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Review</h3>
                <p>
                  see all
                  <img
                    src="../../../assets/images/dashboard/rightArrow.svg"
                    alt="arrow"
                  />
                </p>
              </div>
            </div>
          </div>
          <div class="circles">
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="61"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6b6d7'"
                  [animation]="true"
                  [animationDuration]="300"
                  [outerStrokeLinecap]="'butt'"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Negotiation</h3>
                <p>
                  see all
                  <img
                    src="../../../assets/images/dashboard/rightArrow.svg"
                    alt="arrow"
                  />
                </p>
              </div>
            </div>
            <div class="circlesSet">
              <div class="circle">
                <circle-progress
                  [percent]="39"
                  [radius]="35"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6b6d7'"
                  [animation]="true"
                  [animationDuration]="300"
                  [outerStrokeLinecap]="'butt'"
                ></circle-progress>
              </div>
              <div class="circleDeatils">
                <h3>Signing</h3>
                <p>
                  see all
                  <img
                    src="../../../assets/images/dashboard/rightArrow.svg"
                    alt="arrow"
                  />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pending Contracts end -->

    </div>
  </div>
</section>
