@import "src/variables.scss";

.dashboard {
  background-color: #fdfcfd;
  &Title {
    h1 {
      color: $color-purple-0;
      font-weight: 600;
    }
    p {
      color: $color-purple-0;
      opacity: 0.5;
      padding-top: 5px;
    }
  }
  &Tabs {
    @include d-flex($jc: space-between);
    align-items: flex-start;
    padding-top: 40px;
    gap: 10px;
    flex-wrap: wrap;
    &Status {
      @include d-flex($jc: flex-start);
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      cursor: pointer;
      button {
        color: $color-white-1;
        background-color: transparent;
        border: none;
        @include d-flex($jc: space-between);
        gap: 30px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
        }
        span {
          img {
            filter: opacity(0.5);
          }
        }
        &::after {
          display: none;
        }
      }
      h3 {
        color: $color-purple-0;
      }
      span {
        @include d-flex($jc: flex-start);
        white-space: nowrap;
        gap: 20px;
        color: $color-white-1;
      }
    }
    &Details {
      background-color: $color-white-0;
      padding: 10px 20px;
      @include d-flex($jc: flex-start);
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      box-shadow: 2px 24px 96px 0 rgba(0, 0, 0, 0.09);
      border-radius: 5px;
      h4 {
        @include d-flex($jc: flex-start);
        gap: 120px;
        color: $color-purple-2;
        img {
          max-width: 20px;
        }
      }
      p {
        // color: $color-white-1;
        font-size: 15px !important;
        margin: 0;
      }
      span {
        background-color: #b9b7b76e;
        padding: 3px 9px 3px 6px;
        font-size: 10px;
        border-radius: 5px;
        @include d-flex($jc: flex-start);
        img {
          max-width: 15px;
        }
      }
    }
  }

  &GraphBar {
    @include d-flex($jc: space-between);
    padding-top: 20px;
    align-items: stretch;
    gap: 15px;
  }

  &Graph {
    background-color: $color-white-0;
    box-shadow: 2px 24px 96px 0 rgba(0, 0, 0, 0.09);
    padding: 20px;
    border-radius: 5px;
    .chartContainer {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
    .graphTitle {
      @include d-flex($jc: flex-start);
      gap: 30px;
      padding-bottom: 20px;
      button {
        color: $color-white-1;
        background-color: transparent;
        border: none;
        @include d-flex($jc: space-between);
        gap: 10px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
        }
        span {
          img {
            filter: opacity(0.5);
          }
        }
        &::after {
          display: none;
        }
      }
      span {
        @include d-flex($jc: space-between);
        white-space: nowrap;
        color: $color-white-1;
        cursor: pointer;
      }
    }
  }

  &PendingContracts {
    background-color: $color-white-0;
    padding: 20px 20px 0;
    border-radius: 5px;
    .title {
      @include d-flex($jc: flex-start);
      gap: 20px;
      h3 {
        white-space: nowrap;
      }
      button {
        color: $color-white-1;
        background-color: transparent;
        border: none;
        @include d-flex($jc: space-between);
        gap: 10px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
        }
        span {
          img {
            filter: opacity(0.5);
          }
        }
        &::after {
          display: none;
        }
      }
      span {
        @include d-flex($jc: flex-start);
        white-space: nowrap;
        color: $color-white-1;
        cursor: pointer;
      }
    }
    .circles {
      @include d-flex($jc: space-between);
      width: 100%;
      gap: 25px;
      &:first-child {
        padding-top: 20px;
      }

      &Set {
        @include d-flex($jc: flex-start);
        gap: 10px;
        padding: 20px 0;
        &:first-child {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: $color-white-1;
            right: -10px;
          }
        }
        p {
          color: #ae9aae;
          font-size: 15px;
          @include d-flex($jc: flex-start);
          cursor: pointer;
          img {
            max-width: 15px;
          }
        }
        .circleDeatils {
          h3 {
            width: 102px;
            padding-bottom: 5px;
          }
        }
      }
      &:first-child {
        border-bottom: 1px solid $color-white-1;
      }
    }
    .circlesData {
      @include d-flex($jc: space-between);
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// media query
@media (max-width: 992px) {
  .dashboard {
    &GraphBar {
      flex-direction: column;
      gap: 20px;
    }
    .circles {
      &Set {
        &::after {
          width: 0 !important;
          height: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard {
    &Tabs {
      flex-direction: column;
      &Details {
        width: 100%;
        h4 {
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    &PendingContracts {
      .title {
        flex-wrap: wrap;
      }
    }
    &Graph {
      .graphTitle {
        flex-wrap: wrap;
      }
    }
    .circles {
      flex-direction: column;
      border-bottom: none !important;
      align-items: flex-start;
      gap: 0;
      &Set {
        &::after {
          width: 0 !important;
          height: 0 !important;
        }
      }
    }
  }
}
