@import "src/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #f2f1f1;
  background-color: $color-purple-1;
  &Logo {
    max-width: 100px;
  }
  &LogoList {
    display: flex;
    align-items: center;
    gap: 40px;
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      gap: 20px;
      li {
        color: #856ca4;
        // opacity: 0.7;
        font-weight: 500;
        cursor: pointer;
      }
      li.clicked {
        position: relative;
        color: #4b3368 !important;
        opacity: 1 !important;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 45%;
          width: 15px;
          height: 2px;
          background-color: $color-purple-0;
          border-radius: 5px;
        }
      }
    }
  }
  &Profile {
    display: flex;
    gap: 20px;
    &Settings {
      display: flex;
      gap: 20px;
      img {
        max-width: 20px;
        cursor: pointer;
      }
    }
    &Details {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      span {
        color: #700070;
      }
      button {
        color: #794d79;
        background-color: transparent;
        border: none;
        @include d-flex($jc: space-between);
        gap: 5px;
        font-size: 14px;
        padding: 0;
        &:focus {
          box-shadow: none;
        }
        span {
          img {
            filter: opacity(0.5);
          }
        }
        &::after {
          display: none;
        }
        .profile {
          max-width: 20px;
        }
        .arrow {
          width: 20px;
        }
      }
      .dropdown-menu {
        right: 0;
        left: inherit;
      }
    }
  }
  .hamburger {
    display: none;
  }
}

//media query
@media (max-width: 768px) {
  .header {
    position: relative;
    &LogoList {
      ul {
        // display: none;
        position: absolute;
        top: 83px;
        flex-direction: column;
        height: calc(100vh - 83px);
        background-color: $color-white-0;
        width: 100%;
        display: none;
        z-index: 2;
        right: 0;
        transition: all 0.5s ease;
        padding-top: 20px;
      }
      ul.active {
        // right: 0;
        display: flex;
        transition: all 0.5s ease;
      }
    }
    &Profile {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
}
