<header class="header">
  <div class="headerLogoList">
    <div class="headerLogo">
      <img src="../../assets/images/header/logo.png" alt="logo" />
    </div>
    <ul>
      <li
        *ngFor="let list of headerList; let i = index"
        [class.clicked]="i === clickedIndex"
        (click)="listClick(i)"
      >
        {{ list }}
      </li>
    </ul>
  </div>
  <div class="headerProfile">
    <div class="headerProfileSettings">
      <img src="../../assets/images/header/msg.svg" alt="msg" />
      <img src="../../assets/images/header/settings.svg" alt="settings" />
      <img src="../../assets/images/header/notifyBell.svg" alt="notification" />
    </div>
    <div class="headerProfileDetails">
      <img src="../../assets/images/header/icon.svg" alt="icon" />
      <span>Arpit</span>
      <img src="../../assets/images/header/arrowDown.svg" alt="arrow" />
    </div>
  </div>
  <div class="hamburger">
    <img src="../../../assets/images/header/hamburger.svg" alt="hamburger" />
  </div>
</header>
