$color-white-0: #ffffff;
$color-white-1: #b9b7b7;

$color-purple-0: #320132;
$color-purple-1: #fdfcfd;
$color-purple-2: #700070;

// Flex mixin
@mixin d-flex($jc: flex-start) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}
